<h1>{{title}}</h1>
<section class="insert">
    <h3>Insert Data</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="input">
            <label for="content">Content</label>
            <input type="text" id="content" name="content">
        </div>
        <div class="input">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div>
        <button id="submit-data" type="submit">INSERT</button>
    </form>
</section>
<section>
    <h3>Read Database</h3>
    <form>
        <p><button id="get-data" type="button">GET DATA</button></p>
        <div class="read">
        </div>
    </form>
</section>
