html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

#map {
  height: 400px;
  margin: 0 auto;
}

.screenshot, .location{
  display: block;
  width: 80%;
  margin: 0 auto;
}

/*.location {
  display: inline-block;
  margin: 0 20%;
}*/

.commands {
  width: 170px;
}

.save-loc, .save-update{
  width: 175px;
}

.legend {
  text-align: center;
}

.edit-delete {
  display: inline;
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
}

button {
  margin-top: 10px;
  border: none;
  box-shadow: 1px 1px 1px #34495e;
  background: #ecf0f1;
  cursor: pointer;
}

button:hover {
  background: #bdc3c7;
}
